@font-face {
    font-family: tex;
    src: url("/static/fonts/tex/texbold.otf");
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: tex, sans-serif;
    font-size: 2.5rem;
}

.nav {
    width: 100vw;
    background: #242424;
    color: rgb(199, 199, 199);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 5px black;


    .links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        position: relative;

        img {
            width: 3rem;
        }
    }

    a {
        text-decoration: none;
        color: rgb(199, 199, 199);
    }

    li > ul {
        position: absolute;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.658);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
        padding: 0 0.5em 0 0.5em;
    }

    #signup {
        background: rgb(49, 231, 103);
        text-shadow: none;
        box-shadow: none;
        border-radius: 0.25em;
        color: ivory;
        border: solid -2px rgb(49, 231, 103);
        transition: box-shadow text-shadow ease-in-out 0.2s;
    }
    
    #signup:hover,
    #signup:focus{
        background: rgb(49, 231, 103);
        box-shadow: inset 0 0 10px rgb(0, 0, 0);
        text-shadow: 0 0 10px rgb(255, 255, 255);
        border: none;
    }
    
}