@font-face {
    font-family: tex;
    src: url("/static/fonts/tex/texbold.otf");
}

body {
    background: #f6f6f6;
    font-family: sans-serif;
    margin: 0;
    
}

.header {
    background: rgb(36, 36, 36);
    width: 100%;
    color: rgb(199, 199, 199);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    font-size: 2em;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 5px black;
    height: 150px;
}

.headercontent {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 10% 0 10%;
    overflow: hidden;
}

.brand {
    padding: auto 0 auto 0;
    font-family: tex;
    flex: 1;
    font-size: 4rem;
}

.searchBox {
    font-size: 30px;
    width: 80%;
    margin-left: 30px;
    border: 0;
    vertical-align: middle;
    border-radius: 7.5px 0 0 7.5px;
    padding: 10px 10px 10px 10px;
    transition: box-shadow ease-in-out 75ms;
    color: rgb(78, 78, 78);
}

.searchBox:focus {
    box-shadow: inset 0px 0px 5px 3px rgb(131, 131, 131);
    outline: 0;
}

.searchButton {
    width: 52px;
    border-radius: 0 7.5px 7.5px 0;
    background: rgb(69, 69, 212);
}

.mag {
    margin: 6px auto 0 5px;
    width: 40px;
    height: auto;
    filter: brightness(0) invert(1) brightness(90%);
}

.icons {
    flex: 2;
    text-align: right;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
}

.icons ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.icons ul{
    margin: -25px 0 0 0;
}

#headericons {
    text-decoration: none;
    color: rgb(199, 199, 199);
    background: transparent;
    height: 100%;
    vertical-align: middle;
    padding: 8px;
    font-size: 2.5rem;
    transition: background ease-in-out 0.15s;
}

#headericons:hover {
    background: rgba(83, 83, 83, 0.26);
}

.cart img, .search img{
    width: 2.5rem;
    padding: 0;
    margin: 0;
    transform: translateY(6px);
}

.cart, .search {
    line-height: 5;
}

.genres {
    width: 100%;
    background: rgba(26, 26, 26, 0.431);
    color: rgb(199, 199, 199);
    font-size: 1.5rem;
}

.genreContent {
    margin: 0 20% 0 20%;
}