<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="headercontent">
            <div class="brand">
                Blärf
            </div>
            <div class="icons">
                <ul>
                    <li><a href="#" class="headericons" id="departments">Departments</a></li><li><a href="#" id="login" class="headericons">Login</a></li><li><a href="#" id="signup" class="headericons">Signup</a></li><li><a href="#" id="search" class="headericons"><img src="/static/Magnifying Glass.svg"></a></li><li><a href="#" id="cart" class="headericons"><img src="/static/shoppingcart.svg"></a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="search">
            <input class="searchBox" type="text">
            <a href="#" class="searchButton"><img class="mag" src="/static/search-2907.svg"/>
            </a>
        </div> -->
    </div>
    {% block body %}{% endblock %}
</body>
</html>