{% extends "base.html" %}

{% block head %}
<title>Log in to Blärf</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Template nice</h1>
    <form action="/submit" method="POST">
        <label for="sno">Serial Number:</label><br>
        <input type="number" id="sno" name="sno"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="profn">Profession:</label><br>
        <input type="name" id="profn" name="profn"><br>
        <button type="submit">Submit</button>
    </form>
    me when eijlagiljer
</div>
{% endblock %}